# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/.gitignore
.idea/advent-of-code-2021.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
day1/dotnet-vscode/bin/
day1/dotnet-vscode/obj/
day1/dotnet-vs/Day1/Day1/bin/Debug/net6.0/Day1.deps.json
day1/dotnet-vs/Day1/Day1/bin/Debug/net6.0/Day1.dll
day1/dotnet-vs/Day1/Day1/bin/Debug/net6.0/Day1.exe
day1/dotnet-vs/Day1/Day1/bin/Debug/net6.0/Day1.pdb
day1/dotnet-vs/Day1/Day1/bin/Debug/net6.0/Day1.runtimeconfig.json
day1/dotnet-vs/Day1/Day1/obj/Day1.csproj.nuget.dgspec.json
day1/dotnet-vs/Day1/Day1/obj/Day1.csproj.nuget.g.props
day1/dotnet-vs/Day1/Day1/obj/Day1.csproj.nuget.g.targets
day1/dotnet-vs/Day1/Day1/obj/project.assets.json
day1/dotnet-vs/Day1/Day1/obj/project.nuget.cache
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/apphost.exe
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.AssemblyInfo.cs
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.AssemblyInfoInputs.cache
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.assets.cache
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.csproj.AssemblyReference.cache
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.csproj.BuildWithSkipAnalyzers
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.csproj.CoreCompileInputs.cache
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.csproj.FileListAbsolute.txt
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.dll
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.GeneratedMSBuildEditorConfig.editorconfig
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.genruntimeconfig.cache
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.GlobalUsings.g.cs
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/Day1.pdb
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/ref/Day1.dll
day1/dotnet-vs/Day1/Day1/obj/Debug/net6.0/refint/Day1.dll
day1/dotnet-vs/Day1/.vs/Day1/FileContentIndex/3168560c-d1ea-42f4-b2f0-cc8347add26b.vsidx
day1/dotnet-vs/Day1/.vs/Day1/FileContentIndex/read.lock
day1/dotnet-vs/Day1/.vs/Day1/v17/.suo
.vs/slnx.sqlite
day1/dotnet-vs/Day1/.vs/Day1/FileContentIndex/8e9c6272-1c14-433e-8f16-1565c5403784.vsidx
day1/dotnet-vs/Day1/.vs/Day1/FileContentIndex/23e500e6-911c-4e06-9de2-a954f2127168.vsidx
day1/dotnet-vs/Day1/.vs/Day1/FileContentIndex/864b7a0a-155f-474a-8687-ee93616952e6.vsidx
day1/dotnet-vs/Day1/.vs/Day1/FileContentIndex/ac77e14c-e41e-46c1-b07d-49efc2a861a2.vsidx
day1/dotnet-vs/Day1/Day1/bin/
day1/dotnet-vs/Day1/Day1/obj/
.vs/VSWorkspaceState.json
day1/dotnet-vs/Day1/.vs/Day1/DesignTimeBuild/.dtbcache.v2
day1/dotnet-vs/Day1/.vs/Day1/v17/.futdcache.v2
day1/dotnet-vs/Day1/.vs/ProjectEvaluation/day1.projects.v5.1
day1/dotnet-vs/Day1/.vs/ProjectEvaluation/day1.metadata.v5.1
day6/dotnet-vscode/bin/
day6/dotnet-vscode/obj/

day6/dotnet/AOC2021.Day6/LanternFishService/bin/
day6/dotnet/AOC2021.Day6/LanternFishService/obj/
day6/dotnet/AOC2021.Day6/LanternFishService.Tests/bin/
day6/dotnet/AOC2021.Day6/LanternFishService.Tests/obj/
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.csproj.AssemblyReference.cache
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/.vs/ProjectEvaluation/aoc2021.day6.projects.v5.1
day6/dotnet/AOC2021.Day6/.vs/ProjectEvaluation/aoc2021.day6.metadata.v5.1
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/TestStore/0/000.testlog
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/.suo
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/.futdcache.v2
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/FileContentIndex/a6c5aea2-51b8-4c6a-8984-790db5d91817.vsidx
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/FileContentIndex/2c223071-ec35-4339-9d8a-e9a4335f06cb.vsidx
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/DesignTimeBuild/.dtbcache.v2
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.csproj.AssemblyReference.cache
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/.suo
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/FileContentIndex/2c223071-ec35-4339-9d8a-e9a4335f06cb.vsidx
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/DesignTimeBuild/.dtbcache.v2
day2/dotnet/Day2/Day2/obj/Day2.csproj.nuget.dgspec.json
day2/dotnet/Day2/Day2/obj/Day2.csproj.nuget.g.props
day2/dotnet/Day2/Day2/obj/Day2.csproj.nuget.g.targets
day2/dotnet/Day2/Day2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.AssemblyInfo.cs
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.AssemblyInfoInputs.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.assets.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.csproj.AssemblyReference.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.GeneratedMSBuildEditorConfig.editorconfig
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.GlobalUsings.g.cs
day2/dotnet/Day2/Day2/obj/project.assets.json
day2/dotnet/Day2/Day2/obj/project.nuget.cache
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.csproj.AssemblyReference.cache
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/.suo
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/FileContentIndex/2c223071-ec35-4339-9d8a-e9a4335f06cb.vsidx
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/DesignTimeBuild/.dtbcache.v2
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.csproj.AssemblyReference.cache
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/.suo
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/FileContentIndex/2c223071-ec35-4339-9d8a-e9a4335f06cb.vsidx
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/DesignTimeBuild/.dtbcache.v2
day2/dotnet/Day2/.vs/Day2/DesignTimeBuild/.dtbcache.v2
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/DesignTimeBuild/.dtbcache.v2
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/FileContentIndex/2c223071-ec35-4339-9d8a-e9a4335f06cb.vsidx
day6/dotnet/AOC2021.Day6/.vs/AOC2021.Day6/v17/.suo
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/LanternFishCLI/bin/Debug/net6.0/LanternFishCLI.pdb
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.csproj.AssemblyReference.cache
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.dll
day6/dotnet/AOC2021.Day6/LanternFishCLI/obj/Debug/net6.0/LanternFishCLI.pdb
day2/dotnet/Day2/.vs/Day2/v17/.suo
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.deps.json
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.dll
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.exe
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.pdb
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.runtimeconfig.json
day2/dotnet/Day2/Day2/obj/Debug/net6.0/apphost.exe
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.csproj.CoreCompileInputs.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.csproj.FileListAbsolute.txt
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.dll
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.genruntimeconfig.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.pdb
day2/dotnet/Day2/Day2/obj/Debug/net6.0/ref/Day2.dll
day2/dotnet/Day2/Day2/obj/Debug/net6.0/refint/Day2.dll
day2/dotnet/Day2/Day2.PositionCalculator/bin/Debug/net6.0/Day2.PositionCalculator.deps.json
day2/dotnet/Day2/Day2.PositionCalculator/bin/Debug/net6.0/Day2.PositionCalculator.dll
day2/dotnet/Day2/Day2.PositionCalculator/bin/Debug/net6.0/Day2.PositionCalculator.pdb
day2/dotnet/Day2/Day2.PositionCalculator/obj/Day2.PositionCalculator.csproj.nuget.dgspec.json
day2/dotnet/Day2/Day2.PositionCalculator/obj/Day2.PositionCalculator.csproj.nuget.g.props
day2/dotnet/Day2/Day2.PositionCalculator/obj/Day2.PositionCalculator.csproj.nuget.g.targets
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.AssemblyInfo.cs
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.AssemblyInfoInputs.cache
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.assets.cache
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.csproj.AssemblyReference.cache
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.csproj.BuildWithSkipAnalyzers
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.csproj.CoreCompileInputs.cache
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.csproj.FileListAbsolute.txt
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.dll
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.GeneratedMSBuildEditorConfig.editorconfig
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.GlobalUsings.g.cs
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/Day2.PositionCalculator.pdb
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/ref/Day2.PositionCalculator.dll
day2/dotnet/Day2/Day2.PositionCalculator/obj/Debug/net6.0/refint/Day2.PositionCalculator.dll
day2/dotnet/Day2/Day2.PositionCalculator/obj/project.assets.json
day2/dotnet/Day2/Day2.PositionCalculator/obj/project.nuget.cache
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.CLI.deps.json
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.CLI.dll
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.CLI.exe
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.CLI.pdb
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.CLI.runtimeconfig.json
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.PositionCalculator.dll
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Day2.PositionCalculator.pdb
day2/dotnet/Day2/Day2/bin/Debug/net6.0/Inputs/day2-input.txt
day2/dotnet/Day2/Day2/obj/Day2.CLI.csproj.nuget.dgspec.json
day2/dotnet/Day2/Day2/obj/Day2.CLI.csproj.nuget.g.props
day2/dotnet/Day2/Day2/obj/Day2.CLI.csproj.nuget.g.targets
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.AssemblyInfo.cs
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.AssemblyInfoInputs.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.assets.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.csproj.AssemblyReference.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.csproj.BuildWithSkipAnalyzers
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.csproj.CopyComplete
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.csproj.CoreCompileInputs.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.csproj.FileListAbsolute.txt
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.dll
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.GeneratedMSBuildEditorConfig.editorconfig
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.genruntimeconfig.cache
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.GlobalUsings.g.cs
day2/dotnet/Day2/Day2/obj/Debug/net6.0/Day2.CLI.pdb
day2/dotnet/Day2/Day2/obj/Debug/net6.0/ref/Day2.CLI.dll
day2/dotnet/Day2/Day2/obj/Debug/net6.0/refint/Day2.CLI.dll
day2/dotnet/Day2/.vs/Day2/v17/TestStore/0/000.testlog
day2/dotnet/Day2/.vs/ProjectEvaluation/day2.metadata.v5.1
day2/dotnet/Day2/.vs/ProjectEvaluation/day2.projects.v5.1
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Day2.PositionCalculator.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Day2.PositionCalculator.pdb
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Day2.PositionCalculator.Tests.deps.json
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Day2.PositionCalculator.Tests.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Day2.PositionCalculator.Tests.pdb
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Day2.PositionCalculator.Tests.runtimeconfig.json
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Inputs/day2-input.txt
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.execution.dotnet.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/testhost.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/testhost.exe
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.abstractions.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.assert.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/bin/Debug/net6.0/xunit.core.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/project.nuget.cache
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/project.assets.json
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/refint/Day2.PositionCalculator.Tests.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/ref/Day2.PositionCalculator.Tests.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.pdb
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.GlobalUsings.g.cs
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.genruntimeconfig.cache
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.GeneratedMSBuildEditorConfig.editorconfig
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.dll
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.csproj.FileListAbsolute.txt
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.csproj.CoreCompileInputs.cache
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.csproj.CopyComplete
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.csproj.BuildWithSkipAnalyzers
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.csproj.AssemblyReference.cache
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.assets.cache
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.AssemblyInfoInputs.cache
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/Day2.PositionCalculator.Tests.AssemblyInfo.cs
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Day2.PositionCalculator.Tests.csproj.nuget.g.targets
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Day2.PositionCalculator.Tests.csproj.nuget.g.props
day2/dotnet/Day2/Day2.PositionCalculator.Tests/obj/Day2.PositionCalculator.Tests.csproj.nuget.dgspec.json
